body {
	background-color: #f3f3f3;
	font-family: arial;
}
.article-container {
	width: 900px;
	background-color: #fff;
	padding: 30px;
}
.article-box {
	padding-bottom: 30px;
	width: 100%;
}

input {
	padding: 0px 20px;
	width: 300px;
	height: 40px;
	font-size: 22px;
	
}
.article-container input,
.article-container textarea,
.article-container button {
	display: block;
	margin: 10px auto;
}
.article-container textarea {
	width: 300px;
	padding: 5px 20px;
	height: 150px;
	font-size: 22px;
}
button {
	width: fit-content;
	padding-left: 15px;
	padding-right: 15px;
	height: 44px;
	font-size: 22px;
}
form {
	margin-top: 15px;
}







